{% load category_filter %}
{% load empty_collection %}
{% load section_header %}
{% load cards %}

<section class="collection-section">
    {% section_header title %}

    {% if items %}
        {% if section_type == 'wardrobe' %}
            <div class="garments-grid">
                {% for item in items %}
                    {% garment_card item %}
                {% endfor %}
            </div>
        {% elif section_type == 'outfits' %}
            <div class="outfits-grid">
                {% for item in items %}
                    {% outfit_card item %}
                {% endfor %}
            </div>
        {% elif section_type == 'plans' %}
            <div class="plans-grid">
                {% for item in items %}
                    {% plans_card item %}
                {% endfor %}
            </div>

        {% elif section_type == 'brands' %}
            <div class="brands-grid">
                {% for item in items %}
                    {% brand_card item %}
                {% endfor %}
            </div>
        {% elif section_type == 'styleboards' %}
            <div class="styleboards-grid">
                {% for item in items %}
                    {% styleboard_card item %}
                {% endfor %}
            </div>
        {% endif %}
        {% else %}
        {% empty_collection icon empty_message action_url action_text %}
    {% endif %}
</section>
