{% extends 'core/base.html' %}
{% load collection_section %}
{% load capitalize %}
{% load static %}
{% load section_header %}
{% load empty_collection %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/base/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/planner/planner_list.css' %}">
{% endblock %}

{% block container %}

    {% url 'planner:add_plan_entry' as add_plan_entry %}
    {% include 'core/partials/hero_section.html' with is_compact=True title="Outfit Planner" subtitle="Plan your outfits ahead of time. Organize what you'll wear for upcoming events, meetings, or special occasions. Stay stylish and prepared every day." has_cta=True has_secondary_cta=False first_url=add_plan_entry first_url_text="+ Create New Plan" %}

    <section class="collection-section">

        <div class="filters-glass filters-glass--compact">
            <form method="get"
                  action="{% url 'planner:list' %}#items-section"
                  class="filters-form"
            >
                <div class="filters-grid">

                    <div class="filter-field filter-field--search">
                        <label for="{{ form.date.id_for_label }}" class="filter-label">{{ form.date.label }}</label>
                        {{ form.date }}
                    </div>

                    <div class="filter-field">
                        <label for="{{ form.note.id_for_label }}"
                               class="filter-label">{{ form.note.label }}</label>
                        {{ form.note }}
                    </div>

                </div>

                <div class="filter-actions">
                    <button type="submit" class="btn-cta btn-primary-cta btn-filter">Apply</button>
                    <a href="{% url 'planner:list' %}#items-section" class="btn-cta btn-secondary-cta btn-filter">Reset
                    </a>
                </div>
            </form>
        </div>

        <section id="items-section">
            {% url 'planner:add_plan_entry' as add_plan_entry %}
            {% collection_section "All plans" plans 'plans' '📅' add_plan_entry %}
        </section>

        {% url 'planner:list' as list %}
        {% include "core/partials/paginator.html" with url_target=list %}
    </section>

{% endblock %}
